<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class = "container text-center">

    <h1>Liste n°<%= @id %></h1>

    <ul>

      <li>
        <p><strong><%= @liste.nom %></strong></p>
      </li>

    </ul>

    <%= link_to "Toutes les listes", listes_path %>

  </div>

</div>
