<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour <%= @cemail %> !</h3>
    <p>
      Vous ne prenez plus en charge le trajet <strong><%= @nom %></strong> de
      <%= @uemail %> qui en a été averti par mail.
    </p>
    <p>
      Pour vous connecter au site, vous avez juste à suivre ce lien <%= @url %>.
    </p>
    <p>Merci et bonne journée !</p>
  </body>
</html>
