<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user[0].email %></h1>
    <p>
      Votre liste <%= @liste.nom %> n'est plus prise en charge
    </p>
  </body>
</html>
