<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.email %></h1>
    <p>
      Vous avez pris en charge la liste <%= @liste.nom %>
    </p>
  </body>
</html>
