/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.circle img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.caddy img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.hand img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.mail img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.contact img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.detail {
  padding-top: 20px;
  padding-bottom: 20px;
}
