/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#list-title1 {
  color: #F73F52;
}

.road-title1 {
    color: #F73F52;
}

#list-subtitle1 {
  color: #8A9AAD;
}

#list-subtitle2 {
  color: #8A9AAD;
}

.road-title2 {
    color: #8A9AAD;
}

.circle img {
  border: 4px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}

.caddy img {
  border: 1px dashed #F73F52;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 3px 3px 3px #7B7B7B;
}

.hand img {
  border: 2px dotted #F73F52;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 3px 3px 3px #7B7B7B;
}

.mail img {
  border: 3px double #F73F52;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 3px 3px 3px #7B7B7B;
}

.contact img {
  border: 4px ridge #F73F52;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 3px 3px 3px #7B7B7B;
}

.detail {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-red {
  position: relative;
  background-color: #F73F52;
  color: #FFF;
  text-shadow: none;
}

.btn-red:hover {
  color: #EEE;
}

.btn-red:active {
  color: #FFF;
  top: 1px;
  left: 1px;
}

.trait-rouge {
  color: #F73F52;
}

.trait-bleu {
  color: #469AE0;
}

