/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.circle img {
  border: 1px solid #2381D0;
  border-radius: 50%;
  padding: 8px;
}
