<div class = "container text-center">

  <h1>Articles list</h1>

  <ul>

    <% @articles.each do |article| %>
      <li>
        <p><strong><%= article.nom %></strong> <%= article.prix %> <%= article.quantite %></p>
      </li>
    <% end %>

  </ul>

</div>
