<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class = "container text-center">

    <h1>Liste des articles</h1>

    <ul>

      <% @articles.each do |article| %>
        <li>
          <p><strong><%= article.nom %></strong> <%= article.prix %> <%= article.quantite %></p>
        </li>
      <% end %>

    </ul>

  </div>

</div>
