<div class = "container text-center">

  <h1>Users list</h1>

  <ul>

    <% @users.each do |user| %>
      <li>
        <p><strong><%= user.nom %></strong> <%= user.email %></p>
      </li>
    <% end %>

  </ul>

</div>
