<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1>Connexion</h1>

      <%= form_tag "/users/login", method: :post do %>
        <input type="text" name="nom" />
        <input type="password" name="passwd" />
        <input type="submit", value="Se connecter", class="btn btn-primary" />
      <% end %>

      <div class="spacer"></div>

      <%= link_to "Pas encore inscrit ?", users_new_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>

</div>
