<div class="fond" url('<%= image_path "i-like-food.svg" %>')>
  <div class = "container text-center">

   <ul>

      <li>
        <p><strong><%= @user.nom %></strong> <%= @user.email %></p>
      </li>

    </ul>

    <%= link_to "Supprimer", user_path(@user), method: :delete, class: "btn btn-danger" %>

  </div>
</div>
