<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i class="fa fa-handshake-o fa-lg" aria-hidden="true"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
    <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <!-- <img src="avatar.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
          <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", :data => {:toggle=>"dropdown"} %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Mon profil</a></li>
            <li>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </li>
          </ul>

        </div>
       </div>

    <% else %>
      <%= link_to "Connexion", new_user_session_path, class:"navbar-wagon-item navbar-wagon-link" %>

      <!-- A décommenter pour permettre l'inscription et remettre %=
      < link_to "Inscription", new_user_registration_path, class:"navbar-wagon-item navbar-wagon-link" %>
      -->

    <% end %>

  </div>

</div>
