<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class = "container text-left">
    <h2>Courses</h2>
    <p>Bouton "Ma liste" : permet de créer la liste de courses pour laquelle
    je sollicite un voisin qui pourra la prendre en charge.
    </p>
    <p>Bouton "Je dépanne" : permet de visualiser les listes à prendre
    en charge ainsi que les listes que j'ai déjà prises en charge</p>

    <h2>Covoiturage</h2>
    <p>Bouton "Mon trajet" : permet de créer le trajet pour lequel
    je sollicite un voisin qui pourra le prendre en charge.
    </p>
    <p>Bouton "Je dépanne" : permet de visualiser les trajets à prendre
    en charge ainsi que les trajets que j'ai déjà pris en charge</p>
  </div>

</div>
