  <div class = "container text-left">
    <h2>Courses</h2>
    <p>Bouton "Ma liste" : je crée ma liste de courses  - un voisin pourra la prendre en charge.
    </p>
    <p>Bouton "Je dépanne" : je visualise les listes qui peuvent être prises
    en charge ainsi que les listes que j'ai déjà prises en charge.
    Les listes proposées appartiennent à des utilisateurs enregistrés
    avec le <strong>même code postal que moi</strong>.</p>

    <h2>Covoiturage</h2>
    <p>Bouton "Mon trajet" : je crée mon trajet  - un voisin pourra me
    proposer de le prendre en charge.
    </p>
    <p>Bouton "Je dépanne" : je visualise les trajets qui peuvent être pris
    en charge ainsi que les trajets que j'ai déjà pris en charge.
    Les trajets proposés appartiennent à des utilisateurs enregistrés
    avec le <strong>même code postal que moi</strong>.</p>
  </div>
