  <%= content_for :title, title("Aide") %>
  <%= content_for :description, description("Description du fonctionnement des services proposés : courses et covoiturage") %>

  <div class = "container text-left">
    <h2>Inscription</h2>
    <p>La saisie du code postal est demandée pour permettre de
    proposer des listes ou des trajets de voisins inscrits
    avec le même code postal que vous</p>

    <h2>Courses</h2>
    <p>- Bouton "Listes" : voir les listes qui peuvent être prises
    en charge</p>
    <p>Ces listes appartiennent à des utilisateurs enregistrés
    avec le <strong>même code postal que vous</strong></p>
    <p>- Bouton "Listes prises" : listes que vous avez prises en charge</p>
    <p>- Bouton "Ma liste" : créez votre liste de courses  - un voisin pourra la prendre en charge</p>

    <h2>Covoiturage</h2>

    <p>- Bouton "Trajets" : voir les trajets qui peuvent être pris
    en charge</p>
    <p>Ces trajets appartiennent à des utilisateurs enregistrés
    avec le <strong>même code postal que vous</strong></p>
    <p>- Bouton "Trajets pris" : trajets que vous avez pris en charge</p>
    <p>- Bouton "Mon trajet" : créez votre trajet  - un voisin pourra vous
    proposer de le prendre en charge</p>
  </div>
