  <%= content_for :title, title("Aide") %>
  <%= content_for :description, description("Description du fonctionnement du covoiturage") %>

  <div class = "container text-left">
    <h2>Inscription</h2>
    <p>La saisie du code postal est demandée pour permettre de
    proposer les trajets de voisins inscrits avec le même code postal que vous</p>
    <p>La saisie du n° de mobile n'est pas obligatoire - si vous le saisissez
    vous recevrez les informations par email et SMS sinon par email uniquement</p>

    <h2>Covoiturage</h2>
    <p>"Proposer un trajet" : permet de créer un trajet qui
    pourra être réservé par des voisins inscrits avec le <strong>même code postal que vous</strong></p>
    <p>"Chercher un trajet" : permet de visualiser et réserver un trajet proposé
    par un voisin inscrit avec le <strong>même code postal que vous</strong></p>
  </div>
