  <%= content_for :title, title("Aide") %>
  <%= content_for :description, description("Description du fonctionnement du covoiturage") %>

  <h2>Nous sommes à votre disposition pour répondre à vos questions</h2>
  <p>Vous pouvez nous joindre par email en écrivant à l'adresse <strong>contact@bestneighbor.fr</strong></p>
