<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>');">

  <div class="banner-content">

<!-- Contenu de la page contact : carte googlemap à gauche et adresse à droite -->

    <div class="container text-center">

      <div class="row">

        <h3>Contactez nous par mail</h3>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@bestneighbor.fr</p>

      </div>

    </div>

  </div>

</div>
