// Your footer style
#footer {
  background-color: #8A9AAD;
  color: white;
  padding-top: 2em; /* em signifie la hauteur d'une ligne de texte standard */
  padding-bottom: 2em;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #2381D0;
}

.social a {
  font-size: 24px;
}
