<div class = "container text-center">

  <h1>Liste fournisseur n°<%= @id %></h1>

  <ul>

    <li>
      <p><strong><%= @liste_fournisseur.name %></strong>
    </li>

  </ul>

  <%= link_to "Toutes les listes", liste_fournisseurs_path %>

</div>
