.banner {
  color: white;
  text-align: center;
  height: 90vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45c274;
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  /*font-weight: lighter;*/
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner .nbvoisins {
  font-size: 16px;
}

.banner .info {
  font-size: 12px;
}
