<p>Bonjour <%= @resource.email %>!</p>

<p>Une réinitialisation de votre mot de passe a été demandée. Vous pouvez le réinitialiser en suivant le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande ignorez ce message.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien ci-dessus.</p>
