<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte sur bestneighbor.fr a été bloqué à cause de 3 saisies erronées de votre mot de passe.</p>

<p>Cliquez sur le lien ci-dessous pour réactiver votre compte :</p>

<p><%= link_to 'Réactiver mon compte', unlock_url(@resource, unlock_token: @token) %></p>
